configuration {
    modi: "combi,run,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 2;
	fixed-num-lines: false;
	window-thumbnail: true;
    disable-history: false;
    hide-scrollbar: false;
    display-combi: " All ";
    display-run: " Run ";
    display-window: " Window ";
    sidebar-mode: true;
	combi-hide-mode-prefix: false;
}

@theme "tokyonight"
